.srearch-select {
    position: relative;
    padding: 13px 23px 11px 15px;
    min-width: 200px;
    height: 45px;
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.25), 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    &.active{
        border-radius: 5px 5px 0px 0px;
    }
    .srearch-select-show-search{
        position: relative;
        width: 100%;
        padding-right: 20px;
        input{
            font-size: 18px;
            width: 100%;
            border: none;
            &:focus{
                outline: none;
            }
        }
        img{
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translate(0,-50%);
        }
    }
    .srearch-select-option{
        position: absolute;
        top: 45px;
        width: 100%;
        left: 0;
        box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25), 1px 1px 2px rgba(0, 0, 0, 0.25);
        border-radius: 0px 0px 5px 5px;
        overflow: hidden;
        .option{
            padding: 12px 15px;
            background: white;
            &.notfound{
                text-align: center;
                color: rgba(255,82,79,0.8);
                &:hover{
                    background: white;
                }
            }
            &:hover{
                background: #E0E0E0;
            }
        }
    }
}


